* {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #fff;
}


body {
margin: 0;
min-height: 100vh;
background-color: #222;

}

.navber {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navber-container {
    display: flex;
  align-items: center;
    justify-content: space-between;
  padding-top: 1 rem;
  
}


.nav-left {
    display: flex;

}
.logo{
    border-radius: 50%;
    margin: 0 1rem;

}
.nav-nam {
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}
.nav-right{
    /* display: flex; */
    margin-left: auto;
    align-items: center ;
}
.nav-items-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}
.nav-items-link{
    text-decoration: none;;
}

.nav-items-link:hover{
    color: #3b82fc;
}
<!--Hero Section-->


.container {
    display: flex;
    
  width: 100%;
  margin-left: auto;
    margin-right: auto;

}
.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;;
    
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.hero-left,.hero-right{
    width: 100%;
}

.hero-container .tittle{
text-align: left;



}

.discription{
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
   text-align: justify;
}

<!--Resume Section-->


.resume-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;

}

.subtitle{
    /* font-size: 1.25rem;
    line-height: 6.5px; */
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

.resume-sub-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
display:grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
align-items: center;

gap: 2rem;

}

.resume-left{
    padding: 0 1rem;
    /* background-color: red; */
    position: relative;
    margin-right: 2rem;
    margin-bottom: 2rem;
}



.line{
    background-color: #333;
    width: 100%;
    height: 2px;
    margin: 0.25rem 0 2rem 0;

}

.resume-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    align-items: center;
    border-left: 1px solid #333;
    padding-left: 1rem;
  }

.inner-line{
    background-color: rgb(59 130 246);
width: 50px;
height: 2px;
}


.resume-duration-container{
    display: flex;
    align-items: center;

}
.round-div{
    height: 24px;
    width: 24px;
    background-color: #222;
    border-radius: 50%;
    border: 1px solid #3b82fc;
    position: absolute;
    left: -12.5px;
}
.resume-right{
    padding-left: 3rem;
    
}
.resume-duration{
    background-color: black;
    width: auto;
    border-radius: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.resume-company{
font-size: 1rem;
line-height: 1.5rem;
margin-bottom: 0.5rem;


}

.resume-designation{
    color: grey;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin:0;
}

.resume-image{
    display: block;
    margin: 0 auto;
}

@media (min-width:576px) {
   .container{
    max-width: 540px;
    /* background-color: red; */
   } 
   
}
@media (min-width:768px) {
    .container{
        max-width: 720px;
        /* background: wheat; */
    }
}
@media (min-width:992px) {
   .container{
    max-width: 960px;
   
   } 
   .hero-left{
    width: 40%;
   }
    .hero-right{
     width: 60%;
    }
}
@media (min-width:1200px) {
    .container{
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container{
        max-width: 1320px;
    }
}

